[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=TestApp9
Exec=/usr/bin/invoker --type=d -s /opt/TestApp9/bin/TestApp9
Icon=/usr/share/icons/hicolor/80x80/apps/TestApp980.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
